services:
  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: symfony_event_app
    volumes:
      - ./app:/srv/app
    ports:
      - "8000:80"
    depends_on:
      - db
    environment:
      DATABASE_URL: "mysql://symfony:password@db:3306/symfony_event_db?serverVersion=8.0"

  db:
    image: mysql:8.0
    container_name: symfony_event_db
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: symfony_event_db
      MYSQL_USER: symfony
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password

  mailhog:
    image: mailhog/mailhog
    container_name: mailhog
    ports:
      - "1025:1025" # SMTP
      - "8025:8025" # Web UI

volumes:
  mysql_data: