{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-5">
    <div class="alert alert-danger">
        <h4 class="alert-heading">Ошибка отписки</h4>
        <p>Не удалось найти пользователя с указанным email</p>
        <hr>
        <p class="mb-0">Пожалуйста, свяжитесь со службой поддержки</p>
    </div>
</div>
{% endblock %}