<ul style="list-style: none; display: flex; gap: 10px; padding: 10px;">
    {% if app.user %}
        <li><a href="{{ path('subscriptions') }}">Управление подписками</a></li>
        <li><a href="{{ path('logout') }}">Выйти</a></li>
    {% else %}
        <li><a href="{{ path('login') }}">Войти</a></li>
        <li><a href="{{ path('app_register') }}">Регистрация</a></li>
    {% endif %}
</ul>